<!-- <p>Helol world</p> -->
<!-- <app-demo></app-demo> -->
<!-- <input type="text" appNumbersOnly/>
<input type="text" appNumbersOnly="4"/> -->
<!-- <input type="text" [appNumbersOnly]="count"/> -->
<!-- <app-checkout></app-checkout> -->

<ul style="display: flex; gap: 2%;">
    <li style="list-style-type: none;"><a style="text-decoration: none; font-size: large; font-weight: bold; " routerLink="/">Home</a></li>
    <li style="list-style-type: none;"><a style="text-decoration: none; font-size: large; font-weight: bold; " routerLink="/products">Products</a></li>
    <li style="list-style-type: none;"><a style="text-decoration: none; font-size: large; font-weight: bold; " routerLink="/checkout">Checkout</a></li>
    <li style="list-style-type: none;"><a style="text-decoration: none; font-size: large; font-weight: bold; " routerLink="/github">Github Search</a></li>
</ul>
<div>
    <app-currency ></app-currency>
    <router-outlet></router-outlet>
</div>
<!-- <app-product-list [currency]="Appcurrency" ></app-product-list> -->
<!-- <app-github-search></app-github-search> -->